<h1> <%= @patient.name%></h1><hr>

<h3>Appointments: </h3>
<ul>
  <% @patient.appointments.each do |appt|%>
  <li>
    <%= link_to appt.doctor.name, doctor_path(appt.doctor.id)%> on
    <%= appt.appointment_datetime %>
  </li>

  <% end %>
</ul>