<h1>All <%= @doctor.name %>'s Appointments</h1>

<ul>
    <% @doctor.appointments.each do |appointment| %>

        <li><%= appointment.datetime_readable_format %> - <%= link_to appointment.patient_name, patient_path(appointment.patient) %></li>

    <% end %>
</ul>